@font-face {
    font-family: 'barber-shop-font';
    src: url('../../fonts/ptsansnarrow.woff2') format('woff2'),
        url('../../fonts/ptsansnarrow.woff') format('woff');
}

@font-face {
    font-family: 'barber-shop-font-bold';
    src: url('../../fonts/ptsansnarrowbold.woff2') format('woff2'),
        url('../../fonts/ptsansnarrowbold.woff') format('woff');
}

body {
    font-family: 'barber-shop-font-bold';
}

/* Landing page spasing*/
.landing-page-padding{
    padding-top: 60px;
    padding-bottom: 50px;
}

.landing-page-header_gap{
    margin-bottom: 30px;
}

.landing-page-nav_gap{
    margin-bottom: 60px;
}

.landing-page-list_gap{
    margin-bottom: 50px;
}

/*goods*/

.goods-container{
    height: 290px;
    margin: 10px;
}

.Order-list-container{
    margin-top: 30px;
}

.Order-list-box{
    margin-right: 8px;
}



/* list button */

.goods-list-button{
    width: 50%;
}