.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    /* height: 72px; */
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    /* height: 40px; */
}

.nav-container_left {
    display: flex;
    /* gap: 40px; */
    /* padding-left: 20px!important;
    padding-right: 20px; */
    margin-left: 30px;
}

.nav-container_rigt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    fill: #4d4d4d;
}

.nav-container_rigt:hover{
    fill: white;
}

.header__nav_wide{
    padding-left: 50px;
    padding-right: 30px;
}

.header__nav{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 72px;
}

.header__nav:hover{
    background-color: #242424;
}

.header__svg {
    position: absolute;
    left: 24px;
}

.padding{
    padding-left: 20px;
    padding-right: 20px;
}

.nav_logo{
    transform: translateY(5px);
}
.nav_logo:hover{
    background-color: transparent;
}

.move-left{
    margin-left: -80px;
}

.move-right{
    margin-right: -40px;
}

.nav-current{
    border-bottom: white solid 5px;
}