.landing-page{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #f8f5f2;
}

.landing-page-container{
    width: 960px;
}


/* Navigation */
.landing-page-nav{
    display: flex;
    align-items: center;
}

.landing-page-nav_margin{
    margin-right: 15px;
}
 
/* Squire */
.landing-page-squire{
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    background-color: #f1cdb0;
}

.header-line{
    background-color: black;
    height: 2px;
}

.landing-page-list{
    display: flex;
    align-items: center;
}

.landing-page-list_margin{
    margin-right: 10px;
}

.landing-page-current{
    color:#aba9a7;
}