/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
 
 /* Customize the label (the container) */
 .radioButton-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 21px;
  }
  
  /* Hide the browser's default radio button */
  .radioButton-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .radio-checkmark {
    border: solid black 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a brown background color */
  .radioButton-container:hover input ~ .radio-checkmark::after {
    background-color: #673d15;
  }

  .radioButton-container:hover .radio-checkmark{
    border-color: #673d15;
  }
  
  .radioButton-container:hover{
    color: #673d15;
  }

  /* When the radio button is checked, add a blue background
  .radioButton-container input:checked ~ .radio-checkmark {
    background-color: black;
  }
   

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radioButton-container input:checked ~ .radio-checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radioButton-container .radio-checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
  } 